<section id="about" class="about">
  <div class="container">
    <div class="about__content">
      <img class="about__bg" src="assets/img/about.png" alt="about" />
      <div class="about__content-text">
        <strong class="about__heading heading">About Us</strong>
        <h2 class="about__title title">Every Meal is a Happy Meal.</h2>
        <p class="about__description">
          There are a lot of ways you can go with your tagline if you’re not
          trying to tie in a space.
        </p>
        <a class="about__btn btn" href="#!">Learn More</a>
      </div>
    </div>
  </div>
</section>
