<section id="download" class="app">
  <div class="container">
    <div class="app__row">
      <div class="app__content">
        <strong class="app__heading heading">download</strong>
        <h2 class="app__title title">Get the QFood App Just now</h2>
        <p class="app__description">
          The brand has built a loyal following, largely because of its
          transparency and the streamlined ordering process it offers its
          customers.
        </p>
        <div class="app__btn">
          <a class="app__link" href="#"
            ><img class="app__btn-ios" src="assets/img/ios.png" alt="ios app"
          /></a>
          <a class="app__link" href="#"
            ><img
              class="app__btn-android"
              src="assets/img/android.png"
              alt="android app"
          /></a>
        </div>
      </div>
      <div class="app_bg">
        <img class="app__bg-img" src="assets/img/app-bg.png" alt="" />
      </div>
    </div>
  </div>
</section>
