<section id="features" class="features">
  <div class="container">
    <strong class="features__heading heading">features</strong>
    <h2 class="features__heading-title">Our Awesome Services</h2>
    <ul class="features__list">
      <li class="features__item">
        <img class="features__img" src="assets/img/img-01.png" alt="" />

        <h3 class="features__title">Easy to order</h3>
        <p class="features__description">
          Your Favourite Food delivery Partner. A Trendy Food Delivery
        </p>
      </li>
      <li class="features__item">
        <img class="features__img" src="assets/img/img-02.png" alt="" />
        <h3 class="features__title">Fast Delivery</h3>
        <p class="features__description">
          The food at your doorstep. Best Service to fulfil your expectations.
        </p>
      </li>
      <li class="features__item">
        <img class="features__img" src="assets/img/img-03.png" alt="" />
        <h3 class="features__title">Secured Payment</h3>
        <p class="features__description">
          Our Commitment is Keeping you Safe. Pinnacle of reliability.
        </p>
      </li>
    </ul>
  </div>
</section>
