<footer class="footer">
  <div class="container">
    <div class="footer__row">
      <div class="footer__column">
        <a class="footer__logo-link" href="#"
          ><img class="footer__logo-img" src="assets/img/logo.png" alt="logo"
        /></a>
        <p class="footer__description">
          Lorem ipsum dolor sit amet, consectetur elit.
        </p>
        <ul class="footer__social-list">
          <li class="footer__social-item">
            <a
              class="footer__social-link"
              href=""
              target="_blank"
              rel="nofollow noopener"
            >
              <img src="assets/img/facebook.svg" alt="" />
            </a>
          </li>
          <li class="footer__social-item">
            <a
              class="footer__social-link"
              href=""
              target="_blank"
              rel="nofollow noopener"
            >
              <img src="assets/img/twitter.svg" alt="" />
            </a>
          </li>
          <li class="footer__social-item">
            <a
              class="footer__social-link"
              href=""
              target="_blank"
              rel="nofollow noopener"
            >
              <img src="assets/img/instagram.svg" alt="" />
            </a>
          </li>
          <li class="footer__social-item">
            <a
              class="footer__social-link"
              href=""
              target="_blank"
              rel="nofollow noopener"
            >
              <img src="assets/img/whatsup.svg" alt="" />
            </a>
          </li>
        </ul>
      </div>
      <div class="footer__column">
        <strong>Our Menu</strong>
        <ul class="footer__menu-list">
          <li class="footer__menu-item">
            <a class="footer__menu-link" href="#">Breakfast</a>
          </li>
          <li class="footer__menu-item">
            <a class="footer__menu-link" href="#">Lunce</a>
          </li>
          <li class="footer__menu-item">
            <a class="footer__menu-link" href="#">Dunner</a>
          </li>
          <li class="footer__menu-item">
            <a class="footer__menu-link" href="#">Snacks</a>
          </li>
        </ul>
      </div>
      <div class="footer__column">
        <strong>Useful Link</strong>
        <ul class="footer__menu-list">
          <li class="footer__menu-item">
            <a class="footer__menu-link" href="#">Services</a>
          </li>
          <li class="footer__menu-item">
            <a class="footer__menu-link" href="#">Support</a>
          </li>
          <li class="footer__menu-item">
            <a class="footer__menu-link" href="#">Conditions</a>
          </li>
          <li class="footer__menu-item">
            <a class="footer__menu-link" href="#">Security</a>
          </li>
        </ul>
      </div>
      <div class="footer__column">
        <strong>Stay Connected</strong>
        <div class="footer__input">
          <input
            class="footer__input-form"
            placeholder="Введите что-нибудь!"
            type="email"
            name=""
            id=""
          />
          <a class="footer__input-btn" href="#"> </a>
        </div>
        <div class="footer__tel-content">
          <a class="footer__tel-link" href="tel:+74951234567"
            >+7 (495) 123-45-67</a
          >
        </div>
        <div class="footer__mail-content">
          <img
            class="footer__mail-icon"
            src="assets/img/mail.png"
            width="14px"
            height="14px"
            alt=""
          />
          <a class="footer__mail-link" href="mailto:Support@foodrs.net"
            >Support@foodrs.net</a
          >
        </div>
      </div>
    </div>
    <p class="footer__copyright">Created with figma. By Towshif Mahir - 2021</p>
  </div>
</footer>
