
<header class="header" >
  <div class="container">
    <div class="header__row">
      <a href="index.html" class="header__logo"
        ><img class="header__logo-img" src="assets/img/logo.png" alt="logo"
      /></a>
      <nav class="nav">
        <ul class="nav__list">
          <li class="nav__item">
            <a href="#home" class="nav__link active">Home</a>
          </li>
          <li class="nav__item">
            <a href="#about" class="nav__link">About</a>
          </li>
          <li class="nav__item">
            <a href="#features" class="nav__link">Features</a>
          </li>
          <li class="nav__item">
            <a href="#download" class="nav__link">Download</a>
          </li>
          <li class="nav__item">
            <a href="#recipes" class="nav__link">Recipes</a>
          </li>
        </ul>
      </nav>
      <div class="register">
        <a class="register__log-in" href="#">Log In</a>
        <a class="register__sign-up btn" href="#">Sign Up</a>
      </div>
      <div class="burger">
        <span class="burger__line"></span>
        <span class="burger__line"></span>
        <span class="burger__line"></span>
      </div>
    </div>
  </div>
</header>
