<section id="home" class="hero">
  <div class="container">
    <div class="hero__row">
      <div class="hero__content">
        <strong class="hero__heading heading">Food delivery</strong>
        <h1 class="hero__title">Observe the Food Feel the Taste.</h1>
        <p class="hero__description">
          Add a joy of best Taste. Foodie Moments. Taste the Best that trying to
          tie in a space you.
        </p>
        <a class="hero__btn btn" href="#">Order Now</a>
      </div>
      <div class="hero__bg">
        <img class="hero__bg-img" src="assets/img/hero-bg.png" alt="" />
      </div>
    </div>
  </div>
</section>
