<section id="recipes" class="recipes">
  <div class="container">
    <strong class="recipes__heading heading">RECIPES</strong>
    <h2 class="recipes__title title">Choose Your Favourite Food</h2>
    <ul class="recipes__content">
      <li class="recipes__card">
        <div class="recipes__thumb">
          <img class="recipes__card-img" src="assets/img/pizza.png" alt="" />
        </div>
        

        <strong class="recipes__card-name">Franch Pazta</strong>
        <p class="recipes__card-description">
          The only thing we love more than with food is you.
        </p>
        <a class="recipes__card-link" href="#">Order Now</a>
      </li>
      <li class="recipes__card">
        <div class="recipes__thumb">

          <img class="recipes__card-img" src="assets/img/pizza2.png" alt="" />
        </div>

        <strong class="recipes__card-name">Chicken Masala</strong>
        <p class="recipes__card-description">
          The only thing we’re serious about is food. Eat drink love.
        </p>
        <a class="recipes__card-link" href="#">Order Now</a>
      </li>
      <li class="recipes__card">
        <div class="recipes__thumb">

          <img class="recipes__card-img" src="assets/img/pizza3.png" alt="" />
        </div>

        <strong class="recipes__card-name">Kacchi Biriani</strong>
        <p class="recipes__card-description">
          Come sit with us. Take a trip to chow town hasty and tasty.
        </p>
        <a class="recipes__card-link" href="#">Order Now</a>
      </li>
      <li class="recipes__card">
        <div class="recipes__thumb">

          <img class="recipes__card-img" src="assets/img/pizza.png" alt="" />
        </div>

        <strong class="recipes__card-name">Kacchi Biriani</strong>
        <p class="recipes__card-description">
          Come sit with us. Take a trip to chow town hasty and tasty.
        </p>
        <a class="recipes__card-link" href="#">Order Now</a>
      </li>
      <li class="recipes__card">
        <div class="recipes__thumb">

          <img class="recipes__card-img" src="assets/img/pizza2.png" alt="" />
        </div>

        <strong class="recipes__card-name">Kacchi Biriani</strong>
        <p class="recipes__card-description">
          Come sit with us. Take a trip to chow town hasty and tasty.
        </p>
        <a class="recipes__card-link" href="#">Order Now</a>
      </li>
      <li class="recipes__card">
        <div class="recipes__thumb">

          <img class="recipes__card-img" src="assets/img/pizza3.png" alt="" />
        </div>

        <strong class="recipes__card-name">Kacchi Biriani</strong>
        <p class="recipes__card-description">
          Come sit with us. Take a trip to chow town hasty and tasty.
        </p>
        <a class="recipes__card-link" href="#">Order Now</a>
      </li>
      <li class="recipes__card">
        <div class="recipes__thumb">

          <img class="recipes__card-img" src="assets/img/pizza.png" alt="" />
        </div>

        <strong class="recipes__card-name">Kacchi Biriani</strong>
        <p class="recipes__card-description">
          Come sit with us. Take a trip to chow town hasty and tasty.
        </p>
        <a class="recipes__card-link" href="#">Order Now</a>
      </li>
    </ul>
  </div>
</section>
